.distributor > header{
    font-size: larger;
    font-weight: bold;
}

ul, li{
    list-style-type: none;
    margin: 10px;
}

.flower-list, .retailer-list{
    font-size: large;
    text-decoration: underline;
}

.flower, .retailer{
    margin-left: 80px;
}
