.distributors__container{
    margin-left: 20px;
}

.distributor > header{
    font-size: larger;
    font-weight: bold;
}

ul, li{
    list-style-type: none;
    margin: 10px;
}

.flower-list, .distributor--retailers{
    font-size: large;
    text-decoration: underline;
}

.flower, .distributor--retailer{
    margin-left: 80px;
}
