.retailers__container {
    margin-left: 20px;
}

.retailer > header{
    font-size: larger;
    font-weight: bold;
}

ul, li{
    list-style-type: none;
    margin: 10px;
}

.retailer--flowers, .retailer--distributors, .retailer--nurseries{
    font-size: large;
    text-decoration: underline;
}

.retailer--flower, .retailer--distributor, .retailer--nursery{
    margin-left: 80px;
}

.retailer {
    margin-bottom: 15px;
}

.purchase--button{
    background-color: black;
    color:white;
    border: thin solid white;
    border-radius: 15px;
    padding: 2px 5px;
    margin-left: 10px;
}

.purchase--button:hover{
    background-color: white;
    color:black;
    border: thin solid black;
    cursor: pointer;
}