.nurseries__container{ 
    margin-left: 20px;
}

.nursery > header{
    font-size: larger;
    font-weight: bold;
}

ul, li{
    list-style-type: none;
    margin: 10px;
}

.flower-list, .nursery--distributors{
    font-size: large;
    text-decoration: underline;
}

.flower, .nursery--distributor{
    margin-left: 80px;
}

.nursery {
    margin-bottom: 15px;
}
